/**
 * Xlationist module for Drupal
 *
 * By Jakob Persson of NodeOne
 */

.xlationist-placeholder,
.xlationist-insertall
{
  border: 1px solid #9BFA8D;
  padding: 0 .2em .1em .2em;
  margin: .1em;
  background: #DFFADC;
  color: #139B00;
  cursor: pointer;
}

.xlationist-placeholder:hover,
.xlationist-insertall:hover
{
  border: 1px solid #44A333;
}

.xlationist-insertall
{
  font-size: 1.1em;
  font-weight: bold;
  padding: .1em .3em .2em .3em;
  margin: 0;
}

.xlationist-add
{
  font-weight: bold;
  margin-right: .2em;
}

.xlationist-rounded
{
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
  -border-radius: .4em;
}